<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用默认构造器实例化 -->
    <!--
        <bean id="testService" class="com.testSpring.service.TestService"></bean>
        <bean id="testDao" class="com.testSpring.dao.TestDao"></bean>
    -->

    <!--静态工厂实例化-->
    <!--<bean id="testDao" class="com.testSpring.factory.StaticFactory" factory-method="getTestDao"></bean>
    -->

    <!--实例化工厂-->
    <bean id="factory" class="com.testSpring.factory.Factory" ></bean>
    <bean id="testDao" factory-bean="factory" factory-method="getTestDao"></bean>
</beans>