<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用默认构造器实例化 -->
    <bean id="testService" class="com.testSpring.service.TestService">
        <!--构造器 注入-->
        <constructor-arg name="testDao" ref="testDao"></constructor-arg>
        <constructor-arg name="host" value="localhost"></constructor-arg>
        <constructor-arg name="port" value="8777"></constructor-arg>
    </bean>

    <bean id="testDao" class="com.testSpring.dao.TestDao"></bean>



</beans>